@import 'home/header.css';
@import 'home/main.css';
@import 'home/footer.css';

:root{

}

*{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    max-height: 100%;
    min-height: 100vh;
}