.home__main{
    width: 100vw;
    height: 100%;

    background-repeat: no-repeat;
}

.home__main__principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    overflow-x: hidden;
}
.home__main__principal figure{
    position: relative;
}

.home__main__principal figure img{
    width: 100vw;
    height: 100%;
}

.infos__home{
    max-width: 700px;

    position: absolute;
    z-index: 1;
}

.infos__home h1{
    font-size: clamp(2rem, 4vw, 6.25rem);
    font-family: var(--secundary-font);
    font-weight: 400;

    margin-bottom: 2rem;
}

.infos__home p{
    font-size: clamp(0.4rem, 2vw, 1.25rem);
    font-family: var(--principal-font);
    font-weight: 400;

    margin-bottom: 2rem;
}

.home__button{
    display: flex;
    justify-content: center;
    
    gap: 16px;
}

.home__button a:first-of-type{
    background-color: var(--button-color);
    border-radius: 118px;

    padding: 1.25rem 2rem;

    color: #FFFFFF;
    text-decoration: none;

    font-size: 1rem;
    font-family: var(--principal-font);
    font-weight: 700;

    transition: all 0.3s ease-in;
}

.home__button a:first-of-type:hover {
    background-color: #5e171d;
}

 /* item de cima vai pega primeiro item a */

 .home__button a:last-of-type{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 118px;

    padding: 1.25rem 2rem;

    color: #000000;
    text-decoration: none;

    font-size: 1rem;
    font-family: var(--principal-font);
    font-weight: 700;

    transition: all 0.3s ease-in;
 }

.home__button a:last-of-type:hover {
    background-color: rgb(192, 187, 187);
}

 /* este vai pega ultimo item desse, por isso do of type, tem tb outros como child que seria filho */