.home__main {
    width: 100vw;
    height: 100%;

    background-repeat: no-repeat;
}

.home__main__principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.home__main__principal figure {
    position: relative;
}

.home__main__principal figure img {
    width: 100%;
}

.infos__home {
    max-width: 350px;

    margin: 0 30px;

    position: absolute;
    z-index: 1;
}

.infos__home h1 {
    margin: 0 0 15px 0;

    font-size: clamp(2rem, 4vw, 6.25rem);
    font-family: var(--secundary-font);
    font-weight: 400;

    color: var(--greenItens-color);
}

.infos__home p {
    margin: 0 0 15px 0;

    font-size: clamp(0.4rem, 2vw, 1.25rem);
    font-family: var(--principal-font);
    font-weight: 400;

    color: var(--greenItens-color);
}

.home__button {
    display: flex;
    justify-content: center;
    
    gap: 16px;
}

.home__button a:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 130px;
    height: 45px;

    background-color: var(--redItens-color);
    border-radius: 120px;
    color: var(--text-button);

    font-size: 0.9rem;
    font-family: var(--principal-font);
    font-weight: 700;
    text-align: center;

    box-shadow: 1px 1px 1px var(--shadow);
    transition: all 0.15s ease-in;
}

.home__button a:first-of-type:hover {
    background-color: var(--redHover-color);
}

.home__button a:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 130px;
    height: 45px;
    padding: 10px;

    background-color: transparent;
    border: 2px solid var(--greenItens-color);
    border-radius: 118px;
    color: var(--text-buttons);

    font-size: 0.9rem;
    font-family: var(--principal-font);
    font-weight: 700;
    text-align: center;                                

    box-shadow: 1px 1px 1px var(--shadow);
    transition: all 0.15s ease-in;
}

.home__button a:last-of-type:hover {
    background-color: var(--whiteHover-color);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 90px 40px;
}

.menu h2 {
    margin: 0 0 60px 0;

    font-size: 3.4rem;
    font-family: var(--secundary-font);
    font-weight: 500;
    text-align: center;
}

.menu__content {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__card {
    display: flex;
    align-items: center;
    gap: 25px;

    overflow-x: auto;
}

.menu__icons {
    border: 1.5px solid var(--green-light);
    border-radius: 12px;
    text-align: center;

    max-width: 300px;
    min-width: 300px;
    max-height: 375px;
    min-height: 375px;
    padding: 40px 35px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__icons figure {
    background-color: var(--background-icons);

    border-radius: 100%;
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 0 30px 0;
}

.menu__icons figure img {
    width: 50px;
    height: 50px;
}

.menu__icons h3 {
    font-family: var(--principal-font);
    font-weight: 700;
    font-size: 1.5rem;

    margin: 0 0 30px 0;
}

.menu__icons p {
    font-family: var(--principal-font);
    font-weight: 400;
    font-size: 1rem;

    margin: 0 0 30px 0;
}

.menu__icons a {
    color: var(--redItens-color);

    font-family: var(--principal-font);
    font-weight: 700;
    font-size: 1rem;

    transition: all 0.15s ease-in;
}

.menu__icons a:hover {
    color: var(--redHover-color);
}

.background__creme{
    width: 100%;

    background-color: var(--creme-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;

    padding: 100px;
}

.about__image {
    position: relative;
}

.about__image > img{
    border-radius: 12px;

    width: 600px;
    height: 560px;
}

.about__contact{
    position: absolute;
    z-index: 1;
    bottom: -50px;
    right: -50px;

    background-color: var(--contact-background);

    border-radius: 12px;
    padding: 50px;
    gap: 25px;
    
    width: 420px;
    height: 320px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__contact h3 {
    font-family: var(--principal-font);
    font-weight: 700;
    line-height: 30px;
    font-size: 24px;

    color: var(--text-button);
}

.about__contact__text {
    display: flex;
    gap: 20px;
}

.about__contact__text img {
    width: 24px;
    height: 24px;
}

.about__contact__text p {
    font-family: var(--principal-font);
    font-weight: 400;
    line-height: 24px;
    font-size: 1rem;

    color: var(--creme-color);
}

.about__text {
    max-width: 557px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    color: var(--greenItens-color);
}

.about__text h2 {
    font-family: var(--secundary-font);
    font-weight: 500;
    line-height: 60.5px;
    font-size: 55px;
}

.about__text p:first-of-type {
    font-family: var(--principal-font);
    font-weight: 500;
    line-height: 28px;
    font-size: 18px;
}

.about__text p:last-of-type {
    font-family: var(--principal-font);
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;

    color: var(--tinyItens-color);
}

.about__button {
    padding: 20px 32px;
    margin-top: 16px;
    width: 185px;

    background-color: transparent;

    border: 1.5px solid var(--greenItens-color);
    border-radius: 118px;

    box-shadow: 1px 1px 1px var(--shadow);
    transition: all 0.15s ease-in;
}

.about__button:hover {
    background-color: var(--whiteHover-color);
}

.about__button a{
    color: var(--text-buttons);;

    font-family: var(--principal-font);
    font-weight: 700;
    line-height: 24px;
    font-size: 16px;
}

.services {
    display: flex;
    flex-direction: column;

    padding: 120px 152px;
    gap: 64px;

    color: var(--greenItens-color);
}

.services h2 {
    font-family: var(--secundary-font);
    font-weight: 500;
    line-height: 60.5px;
    font-size: 55px;

    width: 675px;
}

.services__content {
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__types {
    display: flex;
    gap: 24px;

    overflow-x: auto;
}

.services__images {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.services__images img{
    padding-bottom: 15px;
    width: 100%;
}

.services__images h3 {
    font-family: var(--principal-font);
    font-weight: 700;
    line-height: 30px;
    font-size: 1.5rem;
}

.services__images p {
    font-family: var(--principal-font);
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1rem;

    color: var(--tinyItens-color);
}

.delivery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    padding: 120px 152px;

    color: var(--greenItens-color);
}

.delivery__dishes {
    padding-top: 60px;
}

.delivery__details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.delivery__details h2 {
    font-family: var(--secundary-font);
    font-weight: 500;
    line-height: 60.5px;
    font-size: 55px;
}

.delivery__details > p {
    color: var(--tinyItens-color);

    font-family: var(--principal-font);
    font-weight: 400;
    line-height: 24px;
    font-size: 16px;
    
    margin: 0 0 30px 0;
}

.delivery__resume {
    display: flex;
    gap: 20px;
}

.delivery__resume figure {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 7px;

    border-radius: 100px;
    background-color: var(--redItens-color);
}

.delivery__resume figure img {
    width: 15px;
    height: 15px;
}

@media (min-width:600px){

    .infos__home{
        max-width: 450px;
    }

    .home__button a:first-of-type,
    .home__button a:last-of-type {
        width: 160px;
        height: 55px;

        font-size: 1rem;
    }
}

@media (min-width: 710px){

    .menu__card{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 800px){

    .infos__home {
        max-width: 600px;
    }

    .infos__home h1 {
        margin: 0 0 30px 0;
    }

    .infos__home p {
        margin: 0 0 30px 0;
    }

    .home__button a:first-of-type,
    .home__button a:last-of-type {
        width: 180px;
        height: 65px;
    }

}

@media (min-width: 1000px){

    .infos__home {
        max-width: 650px;
    }
}

@media (min-width: 1030px){

    .menu__content{
        max-width: 900px;
    }
}

@media (min-width: 1360px){

    section{
        max-width: 1600px;
        margin: 0 auto;
    }

    .menu__content{
        max-width: 1600px;
    }
}

@media (max-width: 1300px) {
    .about {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .services {
        justify-content: center;
        align-items: center;
    }

    .services__types {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .services__images img {
        width: 70%;
    }

    .services__images {
        width: 40%;
    }
}

@media (max-width: 910px) {
    .about{
        padding: 60px;
    }

    .about__image > img {
        width: 400px;
        height: 360px;
    }

    .about__contact{
        width: 320px;
        height: 240px;

        padding: 30px;
        gap: 15px;
    }

    .about__contact h3 {
        font-size: 1.3rem;
    }

    .about__contact__text img {
        width: 16px;
        height: 16px;
    }

    .about__contact__text p {
        font-size: 0.8em;
        line-height: 20px;
    }

    .services h2{
        justify-content: center;
        align-items: center;
        
        font-size: 35px;
        width: 60vw;
    }

    .services__content {
        width: 70vw;
    }

    .services__types {
        flex-wrap: nowrap;
        justify-content: start;
        align-items: start;
    }

    .services__images img {
        width: 50vw;
    }

    .services__images {
        width: 50vw;
    }
}

@media (max-width: 600px){

    .about{
        padding: 40px;
    }

    .about__image > img {
        width: 300px;
        height: 260px;
    }

    .about__contact{
        width: 280px;
        height: 150px;

        gap: 5px;
    }

    .about__contact h3 {
        font-size: 1rem;
    }

    .about__contact__text img {
        width: 16px;
        height: 16px;
    }

    .about__contact__text p {
        font-size: 0.5rem;
        line-height: 20px;
    }
}